table {
	width: 92%;
}

td {
	border-bottom: solid gray 1px;
}

thead > tr {
	font-weight: bold;
	text-align: center;
}


tbody > tr > td {
	text-align: center;
}

tbody > tr > td.newshacker-text {
	text-align: left;
}

.newshacker-id {
	text-align: center;
	width: 10%;
	padding: 5px;
}

.newshacker-text {
	width: 62%;
	border-left: solid gray 1px;
	overflow: hidden;
}

.newshacker-type {
	text-align: center;
	width: 10%;
	border-left: solid gray 1px;
}

.newshacker-author {
	text-align: center;
	border-left: solid gray 1px;
	width: 10%;
}

/* avoid table width boom */
td > pre {
	max-width: 100px;
}